<!-- Contact -->

<div style="padding:50px">
    <div class="container-fluid" style="padding: 25px; margin-left: 35px; ">
        <h1>Contact</h1>
        <p>Si quieres saber mas y conocer en profundidad la serie y todas las secuelas y precuelas de esta magnifica serie rellena el formulario de más abajo y te responderemos en la mayor brevedad posible.</p>
    </div>
    <div class="container" style="padding-bottom: 45px ; margin-left: 250px;">
        <form class="bg-secondary bg-opacity-25" style="padding: 15px; border-radius: 2px; width: 800px; ">
            <div class="mb-3 d-flex" style="margin-right:0px;">
                <label for="exampleInputEmail1" class="form-label col-3" style="font-size: small;padding-left: 110px"><strong> Your Email</strong></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" style="width: 600px; margin-left:20px; height: 50%;">
            </div>
            <div class="mb-3 d-flex">
                <label for="floatingTextarea" class="col-3" style="padding-left: 90px; font-size: small;"><strong>Your message</strong></label>
                <textarea class="form-control" placeholder="Please enter your message here" id="floatingTextarea" style="width: 800px; margin-left: 20px; height: 150px;"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Submit</button>
        </form>
    </div>
</div>

<!-- Contact -->