<!-- Portfolio -->

<div style="padding:30px; margin-top: 20px">
    <div class="container-fluid" style="margin-top:0px; padding: 15px; margin-left: 35px; ">
        <a name="medio"></a>
        <h1 style="padding-bottom: 15px;">More Characteres</h1>
        <p style="font-size:16px; margin-right:30px; text-indent:20px;">Walter White es un frustrado profesor de química en un instituto, padre de un joven discapacitado y con su esposa Skyler embarazada. Además, trabaja en un lavadero de vehículos por las tardes. Cuando le diagnostican un cáncer pulmonar terminal se plantea qué pasará con su familia cuando él muera. En una redada de la DEA, a la cual fue invitado por su cuñado, el agente Hank Schrader, Walt reconoce a un antiguo alumno suyo, Jesse Pinkman, a quien contacta para fabricar y vender metanfetamina y así asegurar el bienestar económico de su familia. Pero el acercamiento al mundo de las drogas y el trato con traficantes y mafiosos contamina la personalidad de Walter, el cual va abandonando poco a poco su personalidad recta y predecible para convertirse en alguien sin demasiados escrúpulos cuando se trata de conseguir lo que quiere.</p>
    </div>
    <div class="row align-items-start" style="padding:30px; margin-left:15px; padding-top: 0px;">
        <div class="col-4">
            <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2022/09/gus-fring-2811223.jpg?itok=iOJEFVHv" class="img-thumbnail" alt="Gus Fring" />
        </div>
        <div class="col-4">
            <img src="https://www.looper.com/img/gallery/saul-goodmans-best-one-liners-from-better-call-saul/l-intro-1661431638.jpg" class="img-thumbnail" alt="Saul Goodman" />
        </div>
        <div class="col-4">
            <img src="https://rollingstone.uol.com.br/media/uploads/jane-breakingbad-krysten_ritter-reproducao.jpg" class="img-thumbnail" alt="Jane Margolis" />
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <h3 style="color:darkblue; margin-left:60px">Gus Fring</h2>
                <p class="text-justify" style="margin-left:60px; font-size:14px">  Gustavo "Gus" Fring era el líder criminal de un imperio de drogas y el dueño de la cadena de restaurantes Los Pollos Hermanos. Un magnate de negocios y filántropo nacido en Chile. Inicialmente estaba afiliado al Cártel de Juárez, que utilizaba en secreto sus restaurantes como una tapadera legítima para la distribución de metanfetamina en todo el suroeste de Estados Unidos. Al igual que Walter White, Gus era un criminal que se escondía "en plena vista," recurriendo a su posición social como filántropo para ocultar su verdadera naturaleza según construía su imperio.</p>
        </div>
        <div class="col">
            <h3 style="color:darkblue; margin-left:30px">Saul Goodman</h2>
                <p style="margin-left:30px; font-size:14px"> Es un abogado criminal de Albuquerque conocido en la ciudad por sus peculiares anuncios televisivos que se emiten a altas horas de la noche. Tiene una gran familiaridad con el mundo criminal y conexiones con algunos de los más influyentes distribuidores, como Gus Fring. Además, tiene contratados los servicios de un investigador privado veterano llamado Mike, que respeta a Saul simplemente por lo que es y a menudo ejecuta órdenes ilegales para Saul y Gus como limpiar escenas del crimen o espiar a personas.</p>
        </div>
        <div class="col">
            <h3 style="color:darkblue">Jane Margolis</h2>
                <p style="margin-right: 25px; font-size:14px"> Jane es una joven mujer que vive sola, se encuentra en rehabilitación por adicción a las drogas, asiste a las reuniones de rehabilitación junto con su padre Donald Margolis, mediante eso se mantiene limpia durante 18 meses, hasta que el destino la une a Jesse, quien busca una casa para rentar. Jesse ve la casa de Jane como muy confortable y buena, entonces hace el trato con ella y quedan de acuerdo en que él viviría ahí pero con muchas reglas, como no fumar, no drogarse, no música fuerte, etc. Jesse ve a Jane como una joven muy atractiva, entonces busca la forma de llamar su atención.</p>
        </div>
    </div>
</div>

<!-- Portfolio -->